.hero-fade {
    background: radial-gradient(
            circle at top,
            rgba(16, 170, 236, 0.7),
            rgba(10, 185, 255, 0.1) 50%,
            transparent 80%
    ),
    var(--black);
}
